body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

/* Must have to overwrite the css because of the bootstrap framework!  */

.bg-info {
  background-color: rgb(228, 220, 220) !important;
}

.img-thumbnail {
  border: none !important;
  background-color: #fff;
  padding: 0;
  border-radius: 0;
  /*filter: brightness(0.7);
}

.DisplayImg {
  position: relative;
  width: 100%;
  margin: auto;
}

.imgText {
  position: relative;
  width: 100%;
  margin: auto;
}

.DisplayImg > h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin: 15px 0;
  padding: 0 5px;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px black;
}

.DisplayImg > i {
  position: absolute;
  left: 0%;
  font-size: 0.7em;
  color: white;
  background: #00000078;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}

@media (max-width: 800px) {
  .DisplayImg > h2 {
    font-size: 1em;
  }
  .DisplayImg > .topText {
    top: 45% !important;
  }
}
